<% include header %>
	
	<div class="pcoded-main-container">
		<div class="pcoded-wrapper">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							<div class="page-header-title">
								<div class="row align-items-center">
									<div class="col-md-5 header-title">
										<h4>Danh sách công việc</h4>
									</div>
									<div class="col-md-7 text-right">
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="/portal"><i class="fa fa-home" aria-hidden="true"></i></a></li>
											<li class="breadcrumb-item">Danh sách công việc</li>
										</ul>
									</div>
								</div>
							</div>
						
							<div class="content-block">
								<div class="row">
									<div class="col-md-12">
										<a href="/portal/jobs/add" class="btn btn-info"><i class="fas fa-plus"></i> Thêm mới</a>
										<a href="" class="btn btn-info" onclick="printData()"><i class="fas fa-print"></i> In dữ liệu</a>
										<hr>
									</div>
									<div class="col-md-6 pb-3">
										Hiện <select name="perPage" onchange="window.location.assign(this.value)" class="type-select" style="width: 85px;">
											<option value="/portal/jobs/list?page=1&perPage=10" <%if(perPage == 10) {%> selected<%}%>>10</option>
											<option value="/portal/jobs/list?page=1&perPage=20" <%if(perPage == 20) {%> selected<%}%>>20</option>
											<option value="/portal/jobs/list?page=1&perPage=25" <%if(perPage == 25) {%> selected<%}%>>25</option>
											<option value="/portal/jobs/list?page=1&perPage=50" <%if(perPage == 50) {%> selected<%}%>>50</option>
											<option value="/portal/jobs/list?page=1&perPage=100" <%if(perPage == 100) {%> selected<%}%>>100</option>
										</select> sản phẩm
									</div>
									<div class="col-md-6 text-right">
										<b>Tìm kiếm: </b> <input type="text" id="myInput" class="type-input" name="search" placeholder="Tìm kiếm..." style="width: 280px"/>
									</div>
									<div class="col-md-12">
										<table id="printTable" class="table table-bordered table-sm">
											<thead>
												<tr>
													<th>ID</th>
													<th>Tên công việc</th>
													<th>Thời gian</th>
													<th>Số lượng</th>
                                                    <th>Kinh nghiệm</th>
                                                    <th>Địa điểm</th>
                                                    <th>Hạn ứng tuyển</th>
													<th>Vị trí</th>
													<th>Lương</th>
													<th>Trạng thái</th>
                                                    <th>Tính năng</th>
												</tr>
											</thead>
											<tbody id="myTable">
												<%if (listJobs.length > 0) {
													listJobs.forEach((item) => {%>
												<tr>
													<td><%= item.id%></td>
													<td><%= item.title%></td>
													<td><%= item.timeType%></td>
													<td><%= item.quantity%></td>
                                                    <td><%= item.experience%></td>
                                                    <td><%= item.location%></td>
													<td><%= item.deadline.split("-").reverse().join("/")%></td>
                                                    <td><%= item.position%></td>
													<td><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(item.salary)%></td>
													<td>
														<%if (new Date(currentTime).getTime() <= new Date(item.deadline).getTime()) {%>
															<span class="badge bg-info text-white">Còn hạn</span>
														<% } else if (new Date(currentTime).getTime() > new Date(item.deadline).getTime()) {%>
															<span class="badge bg-danger text-white">Hết hạn</span>
														<%}%>
													</td>
													<td class="text-center" style="width: 70px;">
														<a href="/jobs/detail/id=<%= item.id%>"><i class="far fa-eye"></i></a>
														<a href="/portal/jobs/edit/id=<%= item.id%>"><i class="fas fa-edit"></i></a>
														<a href="/portal/jobs/delete/id=<%= item.id%>" onclick="return confirm('Bạn chắc chăc muốn xóa công việc này không?')"><i class="far fa-trash-alt"></i></a>
													</td>
												</tr>
												<%})} else {%>
													<tr>
														<td colspan="11" class="text-center">Không có dữ liệu</td>
													</tr>
												<%}%>
											</tbody>
										</table>
									</div>
									<div class="col-md-12">
										<div class="row">
											<% if(pages > 0) { %>
												<nav class="mx-auto">
													<ul class="pagination" style="margin-top: auto;">
												 
													<% if(current == 1) { %> 
														<li class="page-item disabled">
															<a class="page-link" href="/portal/jobs/list?page=1&perPage=<%= perPage%>">First</a>
														</li>
													<% } else { %>
														<li class="page-item">
															<a class="page-link" href="/portal/jobs/list?page=1&perPage=<%= perPage%>">First</a>
														</li>
													<% } %>
						
												<% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
													<% if(i !== 1) { %>
														<li class="page-item disabled">
															<a class="page-link" href="#">...</a>
														</li>
													<% } %>
													<% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
														<% if(i == current) { %>
															<li class="page-item active">
																<a class="page-link" href="/portal/jobs/list?page=<%= i %>&perPage=<%= perPage%>">
																	<%= i %>
																</a>
															</li>
														<% } else { %>
															<li class="page-item">
																<a class="page-link" href="/portal/jobs/list?page=<%= i %>&perPage=<%= perPage%>">
																	<%= i %>
																</a>
															</li>
														<% } %>
														<% if (i == Number(current) + 2 && i < pages) { %>
															<li class="page-item disabled">
																<a class="page-link" href="#">...</a>
															</li>
														<% } %>
												<% } %>
						
												<% if(current == pages) { %> 
													<li class="page-item disabled">
														<a class="page-link" href="#">Last</a>
													</li>
												<% } else { %>
													<li class="page-item">
														<a class="page-link" href="/portal/jobs/list?page=<%= pages %>&perPage=<%= perPage%>">Last</a>
													</li>
												<% } %>
												</ul>
											</nav>
										<% } %>
										</div>
						  			</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%include footer%>
