<%include header%>
	
	<div class="pcoded-main-container">
		<div class="pcoded-wrapper">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							<div class="page-header-title">
								<div class="row align-items-center">
									<div class="col-md-5 header-title">
										<h4>Danh sách danh mục</h4>
									</div>
									<div class="col-md-7 text-right">
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="/portal"><i class="fa fa-home" aria-hidden="true"></i></a></li>
											<li class="breadcrumb-item active">Danh sách danh mục</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="content-block">
								<div class="row">
									<div class="col-md-12">
										<a href="/portal/category/add" class="btn btn-info"><i class="fas fa-plus"></i> Thêm mới</a>
										<a href="" onclick="printData()" class="btn btn-info"><i class="fas fa-print"></i> In dữ liệu</a>
										<hr>
									</div>
									<div class="col-md-6 pb-3">
										Hiện <select name="perPage" onchange="window.location.assign(this.value)" class="type-select" style="width: 85px;">
											<option value="/portal/category/list?page=1&perPage=10" <%if(perPage == 10) {%> selected<%}%>>10</option>
											<option value="/portal/category/list?page=1&perPage=20" <%if(perPage == 20) {%> selected<%}%>>20</option>
											<option value="/portal/category/list?page=1&perPage=25" <%if(perPage == 25) {%> selected<%}%>>25</option>
											<option value="/portal/category/list?page=1&perPage=50" <%if(perPage == 50) {%> selected<%}%>>50</option>
											<option value="/portal/category/list?page=1&perPage=100" <%if(perPage == 100) {%> selected<%}%>>100</option>
										</select> danh mục
									</div>
									<div class="col-md-6 text-right">
										<b>Tìm kiếm: </b> <input type="text" id="myInput" class="type-input" name="search" placeholder="Tìm kiếm..." style="width: 280px"/>
									</div>
									<div class="col-md-12">
										<table id="printTable" class="table table-bordered table-striped table-sm">
											<thead>
												<tr>
													<th>ID</th>
													<th>Hình ảnh</th>
													<th>Tên danh mục</th>
													<th>Mô tả</th>
                                                    <th>Tính năng</th>
												</tr>
											</thead>
											<tbody id="myTable">
												<%if (listCategory.length > 0) {
													listCategory.forEach((item) => {%>
												<tr>
													<td><%= item.id%></td>
													<td><img src="<%= item.image%>" width="40px" alt="<%= item.image%>"></td>
													<td><%= item.name%></td>
													<td><%- item.description%></td>
													<td class="text-center">
														<a href="/portal/category/edit/id=<%=item.id%>"><i class="fas fa-edit"></i></a>
														<a href="/portal/category/delete/id=<%=item.id%>" onclick="return confirm('Bạn có chắc chắn muốn xóa danh mục này không?')"><i class="far fa-trash-alt"></i></a>
													</td>
												</tr>
												<%})} else {%>
													<tr>
														<td colspan="5 text-center">Không có dữ liệu</td>
													</tr>
												<%}%>
											</tbody>
										</table>
									</div>
									<div class="col-md-12">
										<div class="row">
											<% if(pages > 0) { %>
												<nav class="mx-auto">
													<ul class="pagination" style="margin-top: auto;">
												 
													<% if(current == 1) { %> 
														<li class="page-item disabled">
															<a class="page-link" href="/portal/category/list?page=1&perPage=<%= perPage%>">First</a>
														</li>
													<% } else { %>
														<li class="page-item">
															<a class="page-link" href="/portal/category/list?page=1&perPage=<%= perPage%>">First</a>
														</li>
													<% } %>
						
												<% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
													<% if(i !== 1) { %>
														<li class="page-item disabled">
															<a class="page-link" href="#">...</a>
														</li>
													<% } %>
													<% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
														<% if(i == current) { %>
															<li class="page-item active">
																<a class="page-link" href="/portal/category/list?page=<%= i %>&perPage=<%= perPage%>">
																	<%= i %>
																</a>
															</li>
														<% } else { %>
															<li class="page-item">
																<a class="page-link" href="/portal/category/list?page=<%= i %>&perPage=<%= perPage%>">
																	<%= i %>
																</a>
															</li>
														<% } %>
														<% if (i == Number(current) + 2 && i < pages) { %>
															<li class="page-item disabled">
																<a class="page-link" href="#">...</a>
															</li>
														<% } %>
												<% } %>
						
												<% if(current == pages) { %> 
													<li class="page-item disabled">
														<a class="page-link" href="#">Last</a>
													</li>
												<% } else { %>
													<li class="page-item">
														<a class="page-link" href="/portal/category/list?page=<%= pages %>&perPage=<%= perPage%>">Last</a>
													</li>
												<% } %>
												</ul>
											</nav>
										<% } %>
										</div>
						  			</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<%include footer%>