<%include header%>

<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12 phantrang text-left pb-3">
        <ul>
            <li><a href="">Trang chủ</a> / </li>
            <li><a href="">Giỏ hàng</a> / </li>
            <li>Thanh toán</li>
        </ul>
      </div>
      <form action="/order" method="post" >
        <div class="col-md-8">
          <div class="delivery_address box_shadow_border_radius">
            <div class="title"><i class="fas fa-map-marker-alt"></i> ĐỊA CHỈ NHẬN HÀNG</div>
            <div class="row" style="font-size: 13px">
              <div class="col-md-12 pb-3">
                <div class="col-md-2 text-right mt-3"><b>Email</b> <span style="color: red;">*</span></div>
                <div class="col-md-10">
                  <input type="email" class="input-register" name="email" value="<%= customer.email%>" placeholder="Nhập email" required/>
                </div>
              </div>
              <div class="col-md-12 pb-3">
                <div class="col-md-2 text-right mt-3"><b>Tên đầy đủ</b> <span style="color: red;">*</span></div>
                <div class="col-md-4">
                  <input type="text" class="input-register" name="name" value="<%= customer.name%>" placeholder="Nhập tên khách hàng" required/>
                </div>
                <div class="col-md-2 text-right mt-3"><b>Điện thoại</b> <span style="color: red;">*</span></div>
                <div class="col-md-4">
                  <input type="text" class="input-register" name="phone" value="<%= customer.phone%>" placeholder="Nhập số điện thoại" required/>
                </div>
              </div>
              <div class="col-md-12 pb-3">
                <div class="col-md-2 text-right mt-3"><b>Địa chỉ</b> <span style="color: red;">*</span></div>
                <div class="col-md-10">
                  <input type="text" class="input-register" name="address" value="<%= customer.address%>" placeholder="Nhập địa chỉ nhận hàng" required/>
                </div>
              </div>
              <div class="col-md-12 pb-3">
                <div class="col-md-2 text-right mt-5"><b>Lời nhắn</b></div>
                <div class="col-md-10">
                  <textarea class="motakh" name="note" id="" rows="3" placeholder="Ghi chú đơn hàng (tùy chọn)..."></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="delivery_address box_shadow_border_radius mt-4 mb-5">
            <div class="title"><i class="far fa-credit-card"></i> PHƯƠNG THỨC THANH TOÁN</div>
            <div class="row" style="font-size: 13px">
              <div class="col-md-12 pb-3">
                <input type="radio" name="bankCode" value="cash" checked="true"/> 
                <div class="payments"> <img src="/images/background/tienmat.png"/> Thanh toán bằng tiền mặt</div>
              </div>
              <div class="col-md-12 pb-3">
                <input type="radio" name="bankCode" value="VNPAY" /> 
                <div class="payments"><img src="/images/background/vnpay.png"/> Cổng thanh toán VNPAYQR</div>
              </div>
              <div class="col-md-12 pb-3">
                <input type="radio" name="bankCode" value="VNPAYQR" /> 
                <div class="payments"><img src="/images/background/vnpay_qr.png"/> Thanh toán qua ứng dụng hỗ trợ VNPAYQR</div>
              </div>
              <div class="col-md-12 pb-3">
                <input type="radio" name="bankCode" value="VNBANK" /> 
                <div class="payments"><img src="/images/background/bank.png"/> Thanh toán qua ATM - Tài khoản ngân hàng nội địa </div>
              </div>
              <div class="col-md-12 pb-3">
                <input type="radio" name="bankCode" value="INTCARD" /> 
                  <div class="payments"> <img src="/images/background/quocte.png"/> Thanh toán qua thẻ quốc tế</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="orderProduct box_shadow_border_radius">
            <div class="title">
              <i class="fas fa-shopping-cart"></i> ĐƠN HÀNG
            </div>
            <%if (product.length > 0) {%>
              <%product.forEach((item) => {%>
                <div class="row pb-4">
                  <div class="col-md-2 imageOrder">
                    <%
                    for (i = 0; i < item.Product.ImageProducts.length; i++) {
                      var image = item.Product.ImageProducts[0].image;}
                    %>
                    <img src="<%= image%>" />
                  </div>
                  <div class="col-md-7">
                    <div class="nameProduct"><%= item.Product.name.substring(0, 50)%>...</div>
                    <div class="quantityProduct"><b>Số lượng: </b><%= item.quantity%></div>
                  </div>
                  <%if (item.Product.oldPrice > 0) {%>
                    <div class="col-md-3 priceOrder"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(item.Product.oldPrice * item.quantity)%></div>
                  <%} else {%>
                    <div class="col-md-3 priceOrder"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(item.Product.price * item.quantity)%></div>
                  <%}%>
                </div>
            <%}) } else {%>
              <p style="text-align: center">Không sản phẩm nào cần thanh toán.</p>
            <%}%>
          </div>
          <div class="orderProduct box_shadow_border_radius mt-4">
            <div class="title mb-3">
              <i class="fas fa-shipping-fast"></i> VẬN CHUYỂN
            </div>
            <div class="row" style="font-size: 13px">
              <%if (totalMoney < 500000) {%>
              <div class="col-md-12" style="padding-bottom: 20px">
                <input type="radio" name="transport" value="30000" checked="true" hidden/> 
                <div class="transport" style="margin-top: -20px; border: 1px solid #0f6cb2; background-color: #0f6bb20a;"> <img src="/images/background/shipping.png"/> Phí vận chuyên toàn quốc - 30.000 <u>đ</u></div>
              </div>
              <div class="col-md-12 pb-3">
                <input type="radio" name="transport" value="0" hidden> 
                <div class="transport" style="margin-top: -10px"> <img class="mt-3" src="/images/background/free-shipping-12.png"/> Freeship cho đơn hàng trên 500.000 <u>đ</u></div>
              </div>
              <%} else if (totalMoney >= 500000) {%>
              <div class="col-md-12" style="padding-bottom: 20px">
                <input type="radio" name="transport" value="30000" hidden/> 
                <div class="transport" style="margin-top: -20px"> <img src="/images/background/shipping.png"/> Phí vận chuyên toàn quốc - 30.000 <u>đ</u></div>
              </div>
              <div class="col-md-12 pb-3">
                <input type="radio" name="transport" value="0" checked="true" hidden/> 
                <div class="transport" style="margin-top: -10px; border: 1px solid #0f6cb2; background-color: #0f6bb20a;"> <img class="mt-3" src="/images/background/free-shipping-12.png"/> Freeship cho đơn hàng trên 500.000 <u>đ</u></div>
              </div>
              <%}%>
            </div>

          </div>
          <div class="orderProduct box_shadow_border_radius mt-4">
            <div class="title">
              <i class="fas fa-cash-register"></i> THANH TOÁN
            </div>
            <table class="table table-border">
              <tr>
                <td width="300px" class="pb-2">Thành tiền</td>
                <td class="pb-2 text-right"><b><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(totalMoney)%></b></td>
              </tr>
              <tr>
                <td class="pb-2">Phí vận chuyển</td>
                <%if (totalMoney > 0) {%>
                  <%if (shipFee == 0) {%>
                    <td class="pb-2 text-right"><b>Miễn phí</b></td>
                  <%} else {%>
                    <td class="pb-2 text-right"><b><%=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(shipFee)%></b></td>
                  <%}%>
                <%} else {%>
                  <td class="pb-2 text-right"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(0)%></td>
                <%}%>
              </tr>
              <tr>
                <td class="pb-2">Tổng tiền</td>
                <td class="pb-2 text-right"><h2 class="text-danger font-weight-bold"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(finalTotal)%></h2></td>
                <input type="text" name="totalPrice" value="<%=finalTotal%>" hidden />
              </tr>
              <tr>
                <td><a href="/cart" style="color: black"><i class="fas fa-reply-all"></i> Quay lại giỏ hàng</a></td>
                <td>
                  <%if (finalTotal > 0) {%>
                  <button type="submit" class="btn btn-primary">Đặt hàng</button>
                  <%} %>
                  
                </td>
              </tr>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<%include footer%>